<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoder 默认配置为PatternLayoutEncoder -->
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %t %c{1}:%L - %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>D:/test/logbackBenchMark.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %t %c{1}:%L - %msg%n
            </pattern>
        </encoder>
    </appender>

    <!-- 异步输出 -->
    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>0</discardingThreshold>
        <appender-ref ref="FILE" />
    </appender>

<!--    <logger name="org.logTest" level="INFO"-->
<!--            additivity="false">-->
<!--        <appender-ref ref="ASYNC" />  &lt;!&ndash; 同步:FILE 异步:ASYNC&ndash;&gt;-->
<!--    </logger>-->

    <root level="INFO">
<!--        <appender-ref ref="STDOUT" />-->
        <appender-ref ref="ASYNC" />  <!-- 同步:FILE 异步:ASYNC-->
    </root>
</configuration>