<?xml version="1.0" encoding="UTF-8"?>
<configuration >
    <!-- 子节点<property> ：用来定义变量值，它有两个属性name和value，通过<property>定义的值会被插入到logger上下文中，可以使“${}”来使用变量。-->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- 设置日志输出格式 -->
            <pattern>[%d{yyyy/MM/dd HH:mm:ss.SSS}][%p] [%thread] [%logger{0}] %m%n</pattern>
        </encoder>
<!--        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">-->
<!--            <level>INFO</level>-->
<!--        </filter>-->
    </appender>

    <root level="INFO">
        <appender-ref ref="console" />
    </root>

</configuration>